.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__container {}

.benefits__list {
    display: flex;
}

.benefits__item {
    flex-basis: 270px;

}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--bg-color);
}


/*Titles h3*/

.title {
    color: var(--primary-title-color);
    margin-top: 0px;
    margin-bottom: 10px;
}

.benefits__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}